@model Exam.Models.AttendeeResponse;

@{
    ViewData["Title"] = "Attendees";
}



<label >KEY:</label> @ViewBag.key
<div class="row">

Displaying using MVC
<br />
KEY SAVED FROM Controller
<br />
    <div class="col-lg-12">
        <table>
            <br />
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                
                <th>Register Date</th>
                <th>EventID</th>
                <th>Event</th>
            </tr>
            
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.RegisterDate</td>
                    <td>@item.Event.ID</td>    
                    <td>@item.Event.EventName</td>
                    
                </tr>
            }
            
        </table>
        <br />
       @*<h1> Below Data Is Controlled by javascript</h1>*@
        <br><br>
        <!DOCTYPE html>
        <html>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
        

        
       @* <body>
            <form action="/action_page.php">

                 <h3>Add Attendee</h3>
             

                <label>Input AttendeeName:</label>
                <input type="text" id="createAttendeeName" name="AttendeeName">
                <br>
                
                <label>Input Email:</label>
                <input type="text" id="createEmail" name="EventID">
                <br>

                <label>EventID:</label>
                <input type="text" id="newAttendeeEventID" name="EventID">
                <br>
                <br>
                <input type="button" value="Register Attendee" onclick="AddAttendee();">
                <br>
                <br/>

                <h3>Update Attendee</h3>
                <label>Insert ID To Change Name:</label>
                <input type="text" id="AttendeeID" name="AttendeeID">
                <br>

                <label>Input New Attendee:</label>
                <input type="text" id="AttendeeName" name="AttendeeName">
                <br>

                <label>Input EventID:</label>
                <input type="text" id="EventID" name="EventID"><br>
                <br>

                <input type="button" value="Update Attendee" onclick="UpdateAttendee();">

                <br>
                <br>
                <br>
                <br>

                <h3>Delete Attendee</h3>
                <label>Insert ID To Delete:</label>
                <input type="text" id="DeleteIdTb" name="Delete"><br>
                
                <br>
                <input type="button" value="Delete Attendee" onclick="DeleteAttendee();">

                <br>
                <br>
                <br>
                <br>
                
                <h3>Find Attendee</h3>
                <label>Attendee ID:</label>
                <input type="text" id="AttendeeIDtb" name="AttendeeIDtbName" title="attb"><br>
                <br>
                <input type="button" value="Search Attendee" onclick="FindAttendee();" />
                </a>
              
            </form>
            </body>*@
        </html>
 

    </div>
</div>
@section scripts {
    @*Will Change JavascriptFunction redirect to Controller > RestSharp function *@
    <script type="text/javascript">
        var viewBagKey = '@ViewBag.key'   // KEY FROM CONTROLLER 
        let key = viewBagKey.toString();


        function AddAttendee() {
            let cAttendeeName = document.getElementById("createAttendeeName").value; // Add Name
            let cAttendeeEmail = document.getElementById("createEmail").value; // Create By inserting Registered Attendee
            let eventID = document.getElementById("newAttendeeEventID").value; //  Register Attendee to Event by Using EventID

            alert("Add Attendee Using EMAIL: " + cAttendeeName + cAttendeeEmail + eventID);
            location.replace("https://api.polzki.com/api/addattendee?key=" + key + "&Name=" + cAttendeeName + "&Email=" + cAttendeeEmail + "&EventID=" + eventID + "")
            //https://api.polzki.com/api/addattendee?key=[YOUR_KEY_HERE]&Name=[ATTENDEE_NAME]&Email=[EMAILADDRESS]&EventID=[EVENTID]
        }
        function UpdateAttendee() {
            let attendeeID = document.getElementById("AttendeeID").value; //Replace AttendeeID By inserting Registered Attendee
            let attendeeName = document.getElementById("AttendeeName").value; // Replace Name
            let eventID = document.getElementById("EventID").value; // Replace Event by Using EventID

            alert("UPDATING Attendee ID#: " + attendeeID + " " + attendeeName + " " + eventID);
            location.replace("https://api.polzki.com/api/updateattendee?key=" + key + "&AttendeeID=" + attendeeID + "&Name=" + attendeeName + "&EventID="+ eventID + "")
            //https://api.polzki.com/api/updateattendee?key=[YOUR_KEY_HERE]&AttendeeID=[ATTENDEEID]&Name=[ATTENDEE_NAME]&EventID=[EVENTID]
        }
        function FindAttendee() {
            
            let attendeeID = document.getElementById("AttendeeIDtb").value;
            alert("Finding Attendee Using ID: " + attendeeID);
            location.replace("https://api.polzki.com/api/attendee?key=" + key + "&attendeeid=" + attendeeID + "")
        }
        function DeleteAttendee() {
            let attendeeID = document.getElementById("DeleteIdTb").value;
            alert("DELETING ATTENDEE ID: " + attendeeID);
            location.replace("https://api.polzki.com/api/deleteattendee?key=" + key + "&attendeeid=" + attendeeID + "")
        }
         

    </script>
}



