@model Exam.Models.AttendeeResponse;

@{
    ViewData["Title"] = "Attendee";
}

<div class="row">
    <div class="col-lg-12">
        <table>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Email</td>
                <td>Register Date</td>
                <td>EventID</td>
                <td>Event</td>
                <td>Delete</td>
            </tr>
            
          
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.RegisterDate</td>
                    @*<td>@item.Events</td*@@* Display EventID & EVENT NAME*@
                              
                    
                </tr>
            }
        </table>
    </div>
</div>
